#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
