
.chat_room {
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    height: 100%;
    position: relative;
    padding: 5px; 
    gap: 5px;
    &_messages, &_users {
        display: flex;
    }
    &_messages {
        width: 75%;
        flex-wrap: wrap;
        height: 100%;
        box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
        border-radius: 10px;
        &_list {
            overflow-y: auto;
            width: 100%;
            height: 90%;
            display: flex;
            padding: 2rem;
            ul {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                li {
                    padding: 1rem;
                    display: flex;
                    justify-content: start;
                    >div {
                        display: flex;
                        width: 50%;
                        gap: 1rem;
                        position: relative;
                        justify-content: center;
                        align-items: center;
                        >span {
                            position: absolute;
                            bottom: -20px;
                            right: 10px;
                            opacity: 0.6;
                            font-style:italic;
                            font-size: 12px;
                        }
                        .chat_room_messages_gif {
                            background-color: none;
                            width: 100%;
                            >img {
                                box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
                                width: 100%;
                            }
                            
                        }
                        .chat_room_messages_text {
                            border-radius: 0px 10px 10px 10px;
                            width: 100%;
                            background-color: lightblue;
                            box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
                            position: relative;
                            padding: 1rem;
                            overflow-wrap: break-word;
                            padding: 1rem;

                        }
                        
                    }
                }
                .my_messages {
                    justify-content: end;
                    >div {
                        .chat_room_messages_text {
                            border-radius: 10px 10px 0px 10px;
                            background-color: lightgreen;
                        }
                    }
                }
            }
        }
        >form {
            width: 100%;
            height: 10%;
            flex: 1;
            display: flex;
            padding: 10px;
            input {
                box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
                width: 80%;
                border: none;
                border-radius: 15px 0 0 15px;
                padding: 0 10px;
                &:focus{
                    outline:none;
                    }
            }
            button {
                width: 20%;
            }
            .gif_button {
                border-radius: 0 15px 15px 0;
            }

        }
    }
    &_users {
        flex: 1;
        flex-direction: column;
        gap: 5px;
        p {
            padding: 1rem 5px;
            padding: 1rem 0;
            margin: 0;
        }
        .user_info {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
            box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
            border-radius: 10px;
            padding: 10px;
            font-size: 12px;
        } 
        .room_users {
            box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
            border-radius: 10px;
            width: 100%;
            flex: 1;
            padding: 10px;
            ul {
                display: flex;
                flex-direction: column;
                align-items: start;
                li {
                    font-style: italic;
                    font-size: 12px;
                }
            }
        }
    }
}
