
.chat_room {
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    height: 100%;
    position: relative;
    &_info {
        width: 100%;
    }
    &_messages {
        border: 1px solid black;
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        height: 100%;

        &_list {
            overflow-y: auto;
            width: 100%;
            height: 90%;
            display: flex;
            padding: 2rem;
            ul {
                width: 100%;
                display: flex;
                flex-direction: column;
                li {
                    padding: 1rem;
                    display: flex;
                    justify-content: start;
                    >div {
                        display: flex;
                        width: 50%;
                        gap: 1rem;
                        position: relative;
                        justify-content: center;
                        align-items: center;
                        >span {
                            position: absolute;
                            bottom: -20px;
                            right: 30px;
                            opacity: 0.6;
                            font-style:italic;
                            font-size: 12px;
                        }
                        .chat_room_messages_gif {
                            background-color: none;
                            width: 80%;
                            >img {
                                box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
                                width: 100%;
                            }
                            
                        }
                        .chat_room_messages_text {
                            border-radius: 0px 10px 10px 10px;
                            width: 80%;
                            background-color: lightblue;
                            box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
                            position: relative;
                            padding: 1rem;
                            overflow-wrap: break-word;
                            padding: 1rem;

                        }
                        
                    }
                }
                .my_messages {
                    justify-content: end;
                    >div {
                        .chat_room_messages_text {
                            border-radius: 10px 10px 0px 10px;
                            background-color: lightgreen;
                        }
                    }
                }
            }
        }
        >form {
            width: 100%;
            height: 10%;
            flex: 1;
            display: flex;
            input {
                width: 80%;
            }
            button {
                width: 20%;
            }

        }
    }
    &_users {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        p {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .user_info {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            button {
                width: 100%;
            }
        } 
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            li {
                font-style: italic;
            }
        }
    }
}
