.active_rooms {
    width:20%;
    display: flex;
    flex-direction: column; 
    padding: 5px; 
    gap: 10px;
    p {
        text-align: start;
        margin-bottom: 1rem;
        padding: 1rem 0;
        width: 100%;
        border-bottom: 2px solid gray;

    }
    ul {
        li {
            font-size: 0.9rem;
        }
    }
    &_users, &_list {
        width: 100%;
        border-radius: 10px;
        align-items: start;
        flex-direction: column;
        display: flex;
        box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
        padding: 1rem 10px;
        overflow-y: scroll;

    }
    &_users {
        height: 50%;
        li {
            font-style: italic;
        }
    }
    &_list {
        flex: 1;
        .create_room_form {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
            padding: 10px 5px;
            border-radius: 10px;
            >button {
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 12px;
                padding: 3px;
                border-radius: 2px;
                border: none;
            }
            form {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;
                padding: 1rem 5px;
                p {
                    text-align: center;
                    font-size: 14px;
                    border: none;
                    margin: 0;
                }
                button, input {
                    width: 100%;
                    border: none;
                    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
                    padding: 5px;
                    border-radius: 8px;
                    // padding: 0 10px;
                }
            }
        }
        >button {
            border: none;
            width: 100%;
            border-radius: 5px;
        }
        
        ul {
            padding: 1rem 0;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 5px;
            width: 100%;
            li {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: space-around;
                .join_button, .empty_div {
                    width: 30%;
                    min-width: 70px;
                }
                span {
                    font-size: 1rem;
                    flex: 1;
                }
            }
        }
    }
}