.active_rooms {
    // background-color: aqua;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    padding-bottom: 10px;
    gap: 10px;
    >button {
        border: none;
        border-radius: 5px;
        padding: 5px;
    }
    .create_room_form {
        position: relative;
        padding: 2rem 5px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
        >button {
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 12px;
            padding: 3px;
            border-radius: 2px;
            border: none;
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            p {
                text-align: center;
                font-size: 14px;
            }
            button, input {
                border: none;
                box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
                padding: 5px;
            }
        }
    }
    &_list {
        flex: 1;
        box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
        overflow: hidden;
        p {
            text-align: center;
            padding: 1rem 5px;
        }
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            li {
                span {
                    font-size: 12px;
                }
            }
        }
    }
}